				
.barra {
	background-color: gray;
}
.barra a {
	color: #fff;
}
i {
	color: #fff;
}
#inicio {
	height: 100vh;
	margin-top: 60px;
}
#conocimientos {
	padding-top: 60px;
}
footer {
	height: 50px;
	background-color: grey;
}
