
.barra {
	background-color: #ff1d58;
	opacity: 0.8;
}
.title {
	color: #ff1d58;
}

.button-send {
	background-color: #ff1d58;
	color: #FFF;
}
.barra a {
	color: #FFF;
}
#inicio {
	height: 100vh;
	margin-top: 60px;
}
#conocimientos {
	padding-top: 60px;
}
footer {
	height: 50px;
	background-color: #ff1d58;
	opacity: 0.8;
}